# 作業 : (Kaggle)鐵達尼生存預測
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察計數編碼與特徵雜湊的效果

# [作業重點]
- 仿造範例, 完成計數編碼以及搭配邏輯斯迴歸的預測 (In[4], Out[4], In[5], Out[5]) 
- 仿造範例, 完成雜湊編碼, 以及計數編碼+雜湊編碼 搭配邏輯斯迴歸的預測 (In[6], Out[6], In[7], Out[7]) 
- 試著回答上述執行結果的觀察

# 作業1
* 參考範例，將鐵達尼的艙位代碼( 'Cabin' )欄位使用特徵雜湊 / 標籤編碼 / 計數編碼三種轉換後，  
與其他類別型欄位一起預估生存機率

In [12]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy, time
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

data_path = 'data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
#只取類別值 (object) 型欄位, 存於 object_features 中
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'object':
        object_features.append(feature)
print(f'{len(object_features)} Object Features : {object_features}\n')

# 只留類別型欄位
df = df[object_features]
df = df.fillna('None')
train_num = train_Y.shape[0]
df.head()

5 Object Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,None,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,None,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,None,S

In [14]:
train_num

891

# 作業2
* 承上題，三者比較效果何者最好?

In [15]:
# 對照組 : 標籤編碼 + 邏輯斯迴歸
df_temp = pd.DataFrame()
for c in df.columns:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())
df_temp.head()

0.780004837244799

   Name  Sex  Ticket  Cabin  Embarked
0   155    1     720    185         3
1   286    0     816    106         0
2   523    0     914    185         3
3   422    0      65     70         3
4    22    1     649    185         3

In [16]:
# 加上 'Cabin' 欄位的計數編碼
count_df = df.groupby(['Cabin'])['Name'].agg({'Cabin_Count':'size'}).reset_index()
df = pd.merge(df, count_df, on=['Cabin'], how='left')
count_df.sort_values(by=['Cabin_Count'], ascending=False).head(10)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

               Cabin  Cabin_Count
185             None         1014
80       C23 C25 C27            6
184               G6            5
47   B57 B59 B63 B66            5
60           B96 B98            4
180               F2            4
117                D            4
79           C22 C26            4
181              F33            4
183               F4            4

In [17]:
df

,Name,Sex,Ticket,Cabin,Embarked,Cabin_Count
0,"Braund, Mr. Owen Harris",male,A/5 21171,None,S,1014
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C,2
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,None,S,1014
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S,2
4,"Allen, Mr. William Henry",male,373450,None,S,1014
5,"Moran, Mr. James",male,330877,None,Q,1014
6,"McCarthy, Mr. Timothy J",male,17463,E46,S,2
7,"Palsson, Master. Gosta Leonard",male,349909,None,S,1014
8,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,347742,None,S,1014
9,"Nasser, Mrs. Nicholas (Adele Achem)",female,237736,None,C,1014
10,"Sandstrom, Miss. Marguerite Rut",female,PP 9549,G6,S,5
11,"Bonnell, Miss. Elizabeth",female,113783,C103,S,1
12,"Saundercock, Mr. William Henry",male,A/5. 2151,None,S,1014
13,"Andersson, Mr. Anders Johan",male,347082,None,S,1014
14,"Vestrom, Miss. Hulda Amanda Adolfina",female,350406,None,S,1014
15,"Hewlett, Mrs. (Mary D Kingcome)",female,248706,None,S,1014
16,"Rice, Master. Eugene",male,382652,None,Q,1014
17,"Williams, Mr. Charles Eugene",male,244373,None,S,1014
18,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,345763,None,S,1014
19,"Masselmani, Mrs. Fatima",female,2649,None,C,1014
20,"Fynney, Mr. Joseph J",male,239865,None,S,1014
21,"Beesley, Mr. Lawrence",male,248698,D56,S,1
22,"McGowan, Miss. Anna ""Annie""",female,330923,None,Q,1014
23,"Sloper, Mr. William Thompson",male,113788,A6,S,1
24,"Palsson, Miss. Torborg Danira",female,349909,None,S,1014
25,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,347077,None,S,1014
26,"Emir, Mr. Farred Chehab",male,2631,None,C,1014
27,"Fortune, Mr. Charles Alexander",male,19950,C23 C25 C27,S,6
28,"O'Dwyer, Miss. Ellen ""Nellie""",female,330959,None,Q,1014
29,"Todoroff, Mr. Lalio",male,349216,None,S,1014
...,...,...,...,...,...,...
1279,"Canavan, Mr. Patrick",male,364858,None,Q,1014
1280,"Palsson, Master. Paul Folke",male,349909,None,S,1014
1281,"Payne, Mr. Vivian Ponsonby",male,12749,B24,S,1
1282,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,PC 17592,D28,S,2
1283,"Abbott, Master. Eugene Joseph",male,C.A. 2673,None,S,1014
1284,"Gilbert, Mr. William",male,C.A. 30769,None,S,1014
1285,"Kink-Heilmann, Mr. Anton",male,315153,None,S,1014
1286,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,13695,C31,S,2
1287,"Colbert, Mr. Patrick",male,371109,None,Q,1014
1288,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,13567,B41,C,2
1289,"Larsson-Rondberg, Mr. Edvard A",male,347065,None,S,1014
1290,"Conlon, Mr. Thomas Henry",male,21332,None,Q,1014
1291,"Bonnell, Miss. Caroline",female,36928,C7,S,2
1292,"Gale, Mr. Harry",male,28664,None,S,1014
1293,"Gibson, Miss. Dorothy Winifred",female,112378,None,C,1014
1294,"Carrau, Mr. Jose Pedro",male,113059,None,S,1014
1295,"Frauenthal, Mr. Isaac Gerald",male,17765,D40,C,1
1296,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,SC/PARIS 2166,D38,C,1
1297,"Ware, Mr. William Jeffery",male,28666,None,S,1014
1298,"Widener, Mr. George Dunton",male,113503,C80,C,2
1299,"Riordan, Miss. Johanna Hannah""""",female,334915,None,Q,1014
1300,"Peacock, Miss. Treasteall",female,SOTON/O.Q. 3101315,None,S,1014
1301,"Naughton, Miss. Hannah",female,365237,None,Q,1014
1302,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,19928,C78,Q,4
1303,"Henriksson, Miss. Jenny Lovisa",female,347086,None,S,1014
1304,"Spector, Mr. Woolf",male,A.5. 3236,None,S,1014
1305,"Oliva y Ocana, Dona. Fermina",female,PC 17758,C105,C,1
1306,"Saether, Mr. Simon Sivertsen",male,SOTON/O.Q. 3101262,None,S,1014
1307,"Ware, Mr. Frederick",male,359309,None,S,1014
1308,"Peter, Master. Michael J",male,2668,None,C,1014

In [18]:
# 'Cabin'計數編碼 + 邏輯斯迴歸
df_temp = pd.DataFrame()
for c in object_features:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
df_temp['Cabin_Count'] = df['Cabin_Count']
train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())
df_temp.head()

0.7856230275549181

   Name  Sex  Ticket  Cabin  Embarked  Cabin_Count
0   155    1     720    185         3         1014
1   286    0     816    106         0            2
2   523    0     914    185         3         1014
3   422    0      65     70         3            2
4    22    1     649    185         3         1014

In [19]:
train_X

     Name  Sex  Ticket  Cabin  Embarked  Cabin_Count
0     155    1     720    185         3         1014
1     286    0     816    106         0            2
2     523    0     914    185         3         1014
3     422    0      65     70         3            2
4      22    1     649    185         3         1014
5     818    1     373    185         2         1014
6     767    1     109    163         3            2
7     914    1     541    185         3         1014
8     605    0     477    185         3         1014
9     847    0     174    185         0         1014
10   1067    0     839    184         3            5
11    133    0      50     62         3            1
12   1070    1     733    185         3         1014
13     38    1     459    185         3         1014
14   1221    0     566    185         3         1014
15    533    0     204    185         3         1014
16    995    1     659    185         2         1014
17   1271    1     201    185         3         1014
18   1217    0     417    185         3         1014
19    760    0     243    185         0         1014
20    423    1     182    185         3         1014
21    112    1     203    143         3            1
22    778    0     379    185         2         1014
23   1111    1      54     17         3            1
24    917    0     541    185         3         1014
25     64    0     454    185         3         1014
26    371    1     238    185         0         1014
27    404    1     123     80         3            6
28    885    0     385    185         2         1014
29   1186    1     499    185         3         1014
..    ...  ...     ...    ...       ...          ...
861   439    1     302    185         3         1014
862  1164    0     112    121         3            2
863  1051    0     778    185         3         1014
864   442    1     154    185         3         1014
865   177    0     161    185         3         1014
866   356    0     863    185         0         1014
867  1013    1     807      9         3            1
868  1306    1     428    185         3         1014
869   600    1     477    185         3         1014
870    86    1     531    185         3         1014
871   111    0      70    131         3            2
872   202    1     688     45         3            3
873  1213    1     419    185         3         1014
874     7    0     789    185         0         1014
875   839    0     261    185         0         1014
876   474    1     691    185         3         1014
877   959    1     495    185         3         1014
878   670    1     500    185         3         1014
879   975    0      75     90         0            1
880  1083    0     147    185         3         1014
881   757    1     540    185         3         1014
882   290    0     697    185         3         1014
883    88    1     774    185         3         1014
884  1157    1     891    185         3         1014
885   997    0     659    185         2         1014
886   811    1     130    185         3         1014
887   464    0      18     40         3            1
888   607    0     923    185         3         1014
889   113    1      11     77         0            1
890   338    1     642    185         2         1014

[891 rows x 6 columns]

In [20]:
# 'Cabin'特徵雜湊 + 邏輯斯迴歸
df_temp = pd.DataFrame()
for c in object_features:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
df_temp['Cabin_Hash'] = df['Cabin'].map(lambda x:hash(x) % 10)
train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())
df_temp.head()

0.7788749646693172

   Name  Sex  Ticket  Cabin  Embarked  Cabin_Hash
0   155    1     720    185         3           9
1   286    0     816    106         0           3
2   523    0     914    185         3           9
3   422    0      65     70         3           1
4    22    1     649    185         3           9

In [21]:
# 'Cabin'計數編碼 + 'Cabin'特徵雜湊 + 邏輯斯迴歸
df_temp = pd.DataFrame()
for c in object_features:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
df_temp['Cabin_Count'] = df['Cabin_Count']
df_temp['Cabin_Hash'] = df['Cabin'].map(lambda x:hash(x) % 10)
train_X = df_temp[:train_num]
estimator = LogisticRegression()
print(cross_val_score(estimator, train_X, train_Y, cv=5).mean())
df_temp.head()

0.7744308701330989

   Name  Sex  Ticket  Cabin  Embarked  Cabin_Count  Cabin_Hash
0   155    1     720    185         3         1014           9
1   286    0     816    106         0            2           3
2   523    0     914    185         3         1014           9
3   422    0      65     70         3            2           1
4    22    1     649    185         3         1014           9