# 作業 : (Kaggle)鐵達尼生存預測

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察計數編碼與特徵雜湊的效果

# [作業重點]
- 仿造範例, 完成自己挑選特徵的群聚編碼 (In[2], Out[2])
- 觀察群聚編碼, 搭配邏輯斯回歸, 看看有什麼影響 (In[5], Out[5], In[6], Out[6])

# 作業1
* 試著使用鐵達尼號的例子，創立兩種以上的群聚編碼特徵( mean、median、mode、max、min、count 均可 )

In [42]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings('ignore')

data_path = 'data/'
df = pd.read_csv(data_path + 'titanic_train.csv')

train_Y = df['Survived']
df = df.drop(['PassengerId', 'Survived'] , axis=1)
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [35]:
df.columns

Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked'],
      dtype='object')

In [43]:
# 取一個類別型欄位, 與一個數值型欄位, 做群聚編碼

#取Ticket對Fare做群聚編碼，用mean
mean_df = df.groupby(['Ticket'])['Fare'].mean().reset_index()
mode_df = df.groupby(['Ticket'])['Fare'].apply(lambda x:x.mode()[0]).reset_index()
max_df = df.groupby(['Ticket'])['Fare'].max().reset_index()
median_df = df.groupby(['Ticket'])['Fare'].median().reset_index()
count_df = df.groupby(['Ticket'])['Fare'].count().reset_index()

In [44]:
temp = pd.merge(mean_df, mode_df, how='left', on=['Ticket'])
temp = pd.merge(temp, max_df, how='left', on=['Ticket'])
temp = pd.merge(temp, median_df, how='left', on=['Ticket'])
temp = pd.merge(temp, count_df, how='left', on=['Ticket'])

In [45]:
temp.columns = ['Ticket','Fare_mean','Fare_mode','Fare_max','Fare_median','Fare_count']
temp

,Ticket,Fare_mean,Fare_mode,Fare_max,Fare_median,Fare_count
0,110152,86.5000,86.5000,86.5000,86.5000,3
1,110413,79.6500,79.6500,79.6500,79.6500,3
2,110465,52.0000,52.0000,52.0000,52.0000,2
3,110564,26.5500,26.5500,26.5500,26.5500,1
4,110813,75.2500,75.2500,75.2500,75.2500,1
5,111240,33.5000,33.5000,33.5000,33.5000,1
6,111320,38.5000,38.5000,38.5000,38.5000,1
7,111361,57.9792,57.9792,57.9792,57.9792,2
8,111369,30.0000,30.0000,30.0000,30.0000,1
9,111426,26.5500,26.5500,26.5500,26.5500,1
10,111427,26.5500,26.5500,26.5500,26.5500,1
11,111428,26.5500,26.5500,26.5500,26.5500,1
12,112050,0.0000,0.0000,0.0000,0.0000,1
13,112052,0.0000,0.0000,0.0000,0.0000,1
14,112053,30.0000,30.0000,30.0000,30.0000,1
15,112058,0.0000,0.0000,0.0000,0.0000,1
16,112059,0.0000,0.0000,0.0000,0.0000,1
17,112277,31.0000,31.0000,31.0000,31.0000,1
18,112379,39.6000,39.6000,39.6000,39.6000,1
19,113028,26.5500,26.5500,26.5500,26.5500,1
20,113043,28.5000,28.5000,28.5000,28.5000,1
21,113050,26.5500,26.5500,26.5500,26.5500,1
22,113051,27.7500,27.7500,27.7500,27.7500,1
23,113055,26.5500,26.5500,26.5500,26.5500,1
24,113056,26.0000,26.0000,26.0000,26.0000,1
25,113059,47.1000,47.1000,47.1000,47.1000,1
26,113501,30.0000,30.0000,30.0000,30.0000,1
27,113503,211.5000,211.5000,211.5000,211.5000,1
28,113505,55.0000,55.0000,55.0000,55.0000,2
29,113509,61.9792,61.9792,61.9792,61.9792,1
...,...,...,...,...,...,...
651,SOTON/OQ 392082,8.0500,8.0500,8.0500,8.0500,1
652,SOTON/OQ 392086,8.0500,8.0500,8.0500,8.0500,1
653,SOTON/OQ 392089,8.0500,8.0500,8.0500,8.0500,1
654,SOTON/OQ 392090,8.0500,8.0500,8.0500,8.0500,1
655,STON/O 2. 3101269,7.9250,7.9250,7.9250,7.9250,1
656,STON/O 2. 3101273,7.1250,7.1250,7.1250,7.1250,1
657,STON/O 2. 3101274,7.1250,7.1250,7.1250,7.1250,1
658,STON/O 2. 3101275,7.1250,7.1250,7.1250,7.1250,1
659,STON/O 2. 3101280,7.9250,7.9250,7.9250,7.9250,1
660,STON/O 2. 3101285,7.9250,7.9250,7.9250,7.9250,1
661,STON/O 2. 3101286,7.9250,7.9250,7.9250,7.9250,1
662,STON/O 2. 3101288,7.9250,7.9250,7.9250,7.9250,1
663,STON/O 2. 3101289,7.9250,7.9250,7.9250,7.9250,1
664,STON/O 2. 3101292,7.9250,7.9250,7.9250,7.9250,1
665,STON/O 2. 3101293,7.9250,7.9250,7.9250,7.9250,1
666,STON/O 2. 3101294,7.9250,7.9250,7.9250,7.9250,1
667,STON/O2. 3101271,7.9250,7.9250,7.9250,7.9250,1
668,STON/O2. 3101279,15.8500,15.8500,15.8500,15.8500,2
669,STON/O2. 3101282,7.9250,7.9250,7.9250,7.9250,1
670,STON/O2. 3101283,7.9250,7.9250,7.9250,7.9250,1
671,STON/O2. 3101290,7.9250,7.9250,7.9250,7.9250,1
672,SW/PP 751,10.5000,10.5000,10.5000,10.5000,1
673,W./C. 14258,10.5000,10.5000,10.5000,10.5000,1
674,W./C. 14263,10.5000,10.5000,10.5000,10.5000,1
675,W./C. 6607,23.4500,23.4500,23.4500,23.4500,2
676,W./C. 6608,34.3750,34.3750,34.3750,34.3750,4
677,W./C. 6609,7.5500,7.5500,7.5500,7.5500,1
678,W.E.P. 5734,61.1750,61.1750,61.1750,61.1750,1
679,W/C 14208,10.5000,10.5000,10.5000,10.5000,1
680,WE/P 5735,71.0000,71.0000,71.0000,71.0000,2

In [46]:
df_addNew = pd.merge(df, temp, how='left', on=['Ticket'])
df_addNew

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_mean,Fare_mode,Fare_max,Fare_median,Fare_count
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,7.25000,7.2500,7.2500,7.25000,1
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,71.28330,71.2833,71.2833,71.28330,1
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,7.92500,7.9250,7.9250,7.92500,1
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,53.10000,53.1000,53.1000,53.10000,2
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,8.05000,8.0500,8.0500,8.05000,1
5,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,8.45830,8.4583,8.4583,8.45830,1
6,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,51.86250,51.8625,51.8625,51.86250,1
7,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,21.07500,21.0750,21.0750,21.07500,4
8,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,11.13330,11.1333,11.1333,11.13330,3
9,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,30.07080,30.0708,30.0708,30.07080,2
10,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,16.70000,16.7000,16.7000,16.70000,2
11,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,26.55000,26.5500,26.5500,26.55000,1
12,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,8.05000,8.0500,8.0500,8.05000,1
13,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,31.27500,31.2750,31.2750,31.27500,7
14,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,7.85420,7.8542,7.8542,7.85420,1
15,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,16.00000,16.0000,16.0000,16.00000,1
16,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,29.12500,29.1250,29.1250,29.12500,5
17,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,13.00000,13.0000,13.0000,13.00000,1
18,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,18.00000,18.0000,18.0000,18.00000,1
19,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,7.22500,7.2250,7.2250,7.22500,1
20,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,26.00000,26.0000,26.0000,26.00000,2
21,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,13.00000,13.0000,13.0000,13.00000,1
22,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,8.02920,8.0292,8.0292,8.02920,1
23,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,35.50000,35.5000,35.5000,35.50000,1
24,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,21.07500,21.0750,21.0750,21.07500,4
25,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,31.38750,31.3875,31.3875,31.38750,4
26,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,7.22500,7.2250,7.2250,7.22500,1
27,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,263.00000,263.0000,263.0000,263.00000,4
28,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,7.87920,7.8792,7.8792,7.87920,1
29,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,7.89580,7.8958,7.8958,7.89580,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S,11.50000,11.5000,11.5000,11.50000,1
862,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,25.92920,25.9292,25.9292,25.92920,1
863,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,69.55000,69.5500,69.5500,69.55000,7
864,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S,13.00000,13.0000,13.0000,13.00000,1
865,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,13.00000,13.0000,13.0000,13.00000,1
866,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,13.85830,13.8583,13.8583,13.85830,1
867,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,50.49580,50.4958,50.4958,50.49580,1
868,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,9.50000,9.5000,9.5000,9.50000,1
869,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S,11.13330,11.1333,11.1333,11.13330,3
870,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S,7.89580,7.8958,7.8958,7.89580,1
871,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,52.55420,52.5542,52.5542,52.55420,2
872,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,5.00000,5.0000,5.0000,5.00000,1
873,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S,9.00000,9.0000,9.0000,9.00000,1
874,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,24.00000,24.0000,24.0000,24.00000,2
875,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,7.22500,7.2250,7.2250,7.22500,1
876,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S,9.53125,9.2167,9.8458,9.53125,2
877,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S,7.89580,7.8958,7.8958,7.89580,1
878,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,7.89580,7.8958,7.8958,7.89580,1
879,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,83.15830,83.1583,83.1583,83.15830,2
880,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,26.00000,26.0000,26.0000,26.00000,2
881,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S,7.89580,7.8958,7.8958,7.89580,1
882,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,10.51670,10.5167,10.5167,10.51670,1
883,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,10.50000,10.5000,10.5000,10.50000,1
884,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,7.05000,7.0500,7.0500,7.05000,1
885,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,29.12500,29.1250,29.1250,29.12500,5
886,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,13.00000,13.0000,13.0000,13.00000,1
887,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,30.00000,30.0000,30.0000,30.00000,1
888,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,23.45000,23.4500,23.4500,23.45000,2
889,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,30.00000,30.0000,30.0000,30.00000,1
890,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,7.75000,7.7500,7.7500,7.75000,1

In [47]:
#只取 int64, float64 兩種數值型欄位, 存於 num_features 中
num_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
print(f'{len(num_features)} Numeric Features : {num_features}\n')

# 削減文字型欄位, 只剩數值型欄位
df = df[num_features]
df = df.fillna(-1)
MMEncoder = MinMaxScaler()
df.head()

5 Numeric Features : ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

   Pclass   Age  SibSp  Parch     Fare
0       3  22.0      1      0   7.2500
1       1  38.0      1      0  71.2833
2       3  26.0      0      0   7.9250
3       1  35.0      1      0  53.1000
4       3  35.0      0      0   8.0500

In [48]:
#只取 int64, float64 兩種數值型欄位, 存於 num_features 中
num_features = []
for dtype, feature in zip(df_addNew.dtypes, df_addNew.columns):
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
print(f'{len(num_features)} Numeric Features : {num_features}\n')

# 削減文字型欄位, 只剩數值型欄位
df_addNew = df_addNew[num_features]
df_addNew = df_addNew.fillna(-1)
MMEncoder = MinMaxScaler()
df_addNew.head()

10 Numeric Features : ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Fare_mean', 'Fare_mode', 'Fare_max', 'Fare_median', 'Fare_count']

,Pclass,Age,SibSp,Parch,Fare,Fare_mean,Fare_mode,Fare_max,Fare_median,Fare_count
0,3,22.0,1,0,7.2500,7.2500,7.2500,7.2500,7.2500,1
1,1,38.0,1,0,71.2833,71.2833,71.2833,71.2833,71.2833,1
2,3,26.0,0,0,7.9250,7.9250,7.9250,7.9250,7.9250,1
3,1,35.0,1,0,53.1000,53.1000,53.1000,53.1000,53.1000,2
4,3,35.0,0,0,8.0500,8.0500,8.0500,8.0500,8.0500,1

# 作業2
* 將上述的新特徵，合併原有的欄位做生存率預估，結果是否有改善?

In [29]:
# 原始特徵 + 邏輯斯迴歸

# 原始特徵 + 線性迴歸
train_X = MMEncoder.fit_transform(df)
estimator = LogisticRegression()
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.7038635542329971

In [33]:
df

     Pclass   Age  SibSp  Parch      Fare
0         3  22.0      1      0    7.2500
1         1  38.0      1      0   71.2833
2         3  26.0      0      0    7.9250
3         1  35.0      1      0   53.1000
4         3  35.0      0      0    8.0500
5         3  -1.0      0      0    8.4583
6         1  54.0      0      0   51.8625
7         3   2.0      3      1   21.0750
8         3  27.0      0      2   11.1333
9         2  14.0      1      0   30.0708
10        3   4.0      1      1   16.7000
11        1  58.0      0      0   26.5500
12        3  20.0      0      0    8.0500
13        3  39.0      1      5   31.2750
14        3  14.0      0      0    7.8542
15        2  55.0      0      0   16.0000
16        3   2.0      4      1   29.1250
17        2  -1.0      0      0   13.0000
18        3  31.0      1      0   18.0000
19        3  -1.0      0      0    7.2250
20        2  35.0      0      0   26.0000
21        2  34.0      0      0   13.0000
22        3  15.0      0      0    8.0292
23        1  28.0      0      0   35.5000
24        3   8.0      3      1   21.0750
25        3  38.0      1      5   31.3875
26        3  -1.0      0      0    7.2250
27        1  19.0      3      2  263.0000
28        3  -1.0      0      0    7.8792
29        3  -1.0      0      0    7.8958
..      ...   ...    ...    ...       ...
861       2  21.0      1      0   11.5000
862       1  48.0      0      0   25.9292
863       3  -1.0      8      2   69.5500
864       2  24.0      0      0   13.0000
865       2  42.0      0      0   13.0000
866       2  27.0      1      0   13.8583
867       1  31.0      0      0   50.4958
868       3  -1.0      0      0    9.5000
869       3   4.0      1      1   11.1333
870       3  26.0      0      0    7.8958
871       1  47.0      1      1   52.5542
872       1  33.0      0      0    5.0000
873       3  47.0      0      0    9.0000
874       2  28.0      1      0   24.0000
875       3  15.0      0      0    7.2250
876       3  20.0      0      0    9.8458
877       3  19.0      0      0    7.8958
878       3  -1.0      0      0    7.8958
879       1  56.0      0      1   83.1583
880       2  25.0      0      1   26.0000
881       3  33.0      0      0    7.8958
882       3  22.0      0      0   10.5167
883       2  28.0      0      0   10.5000
884       3  25.0      0      0    7.0500
885       3  39.0      0      5   29.1250
886       2  27.0      0      0   13.0000
887       1  19.0      0      0   30.0000
888       3  -1.0      1      2   23.4500
889       1  26.0      0      0   30.0000
890       3  32.0      0      0    7.7500

[891 rows x 5 columns]

In [49]:
# 新特徵 + 邏輯斯迴歸

train_X = MMEncoder.fit_transform(df_addNew)
estimator = LogisticRegression()
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.7016289882888318